.cajaInterna2 {
  display: flex;
  flex-direction: column;

  width: 800px;
  height: 530px;
}
.cajaInterna2 h1 {
  font-size: 20px;
  margin-bottom: 20px;
}
.cajaInterna2 h2 {
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.datosC {
  background-color: rgb(234, 234, 234);
  border-left: 0.9em solid red;
  height: 120px;
  width: 100%;
  margin-bottom: 20px;
}
.datosP {
  background-color: rgb(234, 234, 234);
  border-left: 0.9em solid red;
  height: 320px;
  width: 100%;
}
.dato1a {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.dato1a p {
  color: rgb(115, 115, 115);
}
.cerrarCuenta {
  display: flex;
  justify-content: end;
  border: none;
  background-color: rgb(255, 255, 255);
}
.cerrarCuenta h1 {
  background-color: red;
  color: aliceblue;
  border-radius: 13px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
}
